@import url(https://fonts.googleapis.com/css?family=Baloo)

*:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}

h1,h2, h3{
    color: white;
    text-align: center;
	font-family: 'Baloo',normal;
}

h1{
    margin-bottom: -0.25em;
}

h2{
    margin-top: 0em;
}

body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
}

#global_container{
 height:100%;
}

#main_canvas_container {
  position: absolute;
  top: 0px;
  left:0px;
  right:0px;
  width: auto;
  height: 100%;
  transition: margin-right .5s;
}

#sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 0px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /*Disable horizontal scroll*/
    padding-top: 20px;
    margin: 0 auto;
}

#buttons {
    width: auto;
    margin: auto;
    text-align: center;

}

#StartButton{
	display: none;
    width: 188px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 0.4s; /*Safari */
    transition-duration: 0.4s;
    border-radius: 2px;
}

.button:hover {
    background-color: white; /* White */
    color: black;
}

#buttonReplay{
    font-weight: bold;
}

#materials{
    margin:20px auto;
    width: 80%;
}

#list{
    padding:10px;
    margin: 0px;
    list-style-type:none;
    background-color: grey;
    border-radius: 10px;
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 100%;
}
